@model PreSchool.EmailTemplates.ViewModels.FeedbackAcknowledgeEmailViewModel

@{
    Layout = "_EmailLayoutHtml";
}

<p>
    Dear <b> @Model.Username </b>,
</p>


<p>
    Thank you for contacting us. Our support team will look to your query and will update you shortly.
</p>
