@model PreSchool.EmailTemplates.ViewModels.ForgotPasswordEmailViewModel

@{
    Layout = "_EmailLayoutHtml";
}

<div class="content" style="padding: 0 24px 24px;">
    <div class="welcome"
         style="font-size: 20px; font-weight: 700; margin-bottom: 24px; font-family: 'Open Sans', 'Lato', sans-serif;">
        @Model.Subject
    </div>
    <div class="greeting" style="margin-bottom: 14px;">
        <span style="margin-right: 2px;">Dear </span>
        <span style="font-weight: 700;">@Model.Username</span>,
    </div>

    <div style="margin-bottom: 14px;">
        Please use @Model.Code, for accessing your account. We would request you to change your password immediately after login for secure browsing.
    </div>
    <div style="margin-bottom: 14px;">
        If you haven’t requested for reset or for password change, we request you to immediately inform our support department at @Model.SupportLink for further assistance.
    </div>
</div>