@model PreSchool.EmailTemplates.ViewModels.ResetPasswordEmailViewModel

@{
    Layout = "_EmailLayoutHtml";
}

<p>
    Dear <b> @Model.Username </b>,
</p>

<p>
    Your password has been successfully reset for the account <b>@Model.Username</b>.
</p>

<p>
    If you haven’t requested for reset or for password change, we request you to immediately inform our support department at <a href="mailto: @Model.SupportLink">@Model.SupportLink</a> for further assistance.

</p>