@model PreSchool.EmailTemplates.ViewModels.WelcomeCustomerOfSocialMediaEmailViewModel

@{
    Layout = "_EmailLayoutHtml";
}

    <div class="content" style="padding: 0 24px 24px;">
        <div class="welcome"
             style="font-size: 20px; font-weight: 700; margin-bottom: 24px; font-family: 'Open Sans', 'Lato', sans-serif;">
            @Model.Subject
        </div>
        <div class="greeting" style="margin-bottom: 14px;">
            <span style="margin-right: 2px;">Hello </span>
            <span style="font-weight: 700;">@Model.Username</span>,
        </div>

        <div style="margin-bottom: 14px;">
            Thank you for registering to Hattiya, Nepal’s unique PreSchool platform.
        </div>
        <div style="margin-bottom: 14px;">
            We would like to enhance your shopping experience at our platform, thus, look forward to your profile completion. Please go to your profile section and complete your personal details, so that we can serve you better.
        </div>
        <div style="margin-bottom: 14px;">
            Hattiya would like to welcome once again and look forward for serving you.
        </div>
    </div>





