@model PreSchool.EmailTemplates.ViewModels.TicketReplyEmailViewModel

@{
    Layout = "_EmailLayoutHtml";
}

    <div class="content" style="padding: 0 24px 24px;">
        <div class="welcome"
             style="font-size: 20px; font-weight: 700; margin-bottom: 24px; font-family: 'Open Sans', 'Lato', sans-serif;">
            @Model.Subject
        </div>
        <div class="greeting" style="margin-bottom: 14px;">
            <span style="margin-right: 2px;">Dear </span>
            <span style="font-weight: 700;">@Model.UserName</span>,
        </div>

        <div style="margin-bottom: 14px;">
            Your ticket with following details has been updated with following details
        </div>

        <div style="margin-bottom: 14px;">
            Ticket ID:@Model.TicketId
        </div>
        <div style="margin-bottom: 14px;">
            Ticket Status:@Model.Status
        </div>
        <div style="margin-bottom: 14px;">
            Ticket Date:@Model.TicketDate
        </div>
        <div style="margin-bottom: 14px;">
            Ticket Comment:@Model.Comment
        </div>
        <div style="margin-bottom: 14px;">
            Please feel free to reach to us with any additional questions or concerns.
        </div>
    </div>






